@page "/"
@using NsxLibraryManager.Core.Settings
@using Microsoft.Extensions.Options
<h3>Index</h3>

@code {
    [Inject] private IOptions<AppSettings> AppSettings { get; set; } = default!;
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        if (AppSettings.Value.TitleDatabase != string.Empty)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
        /*
        else
        {
            NavigationManager.NavigateTo("/setup");
        }
        */
        
    }
}