@page "/"
@using NsxLibraryManager.Core.Settings
@using Microsoft.Extensions.Options
@using FluentValidation
<h3>Index</h3>

@code {
    [Inject] private IOptionsSnapshot<AppSettings> AppSettings { get; set; } = default!;
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    [Inject] private IConfiguration Configuration { get; set; } = default!;
    [Inject] private IValidator<AppSettings> ConfigValidator { get; set; } = default!;

    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        bool.TryParse(Configuration.GetValue<string>("IsDefaultConfigCreated"), out var isDefaultConfigCreated);
        if (isDefaultConfigCreated)
        {
            NavigationManager.NavigateTo("/settings");
        }
        var validationResult = await ConfigValidator.ValidateAsync(AppSettings.Value);
        NavigationManager.NavigateTo(validationResult.IsValid ? "/dashboard" : "/settings");
    }
}