@page "/"
@using NsxLibraryManager.Core.Settings
@using Microsoft.Extensions.Options
@using NsxLibraryManager.Core.Validators
<h3>Index</h3>

@code {
    [Inject] private IOptions<AppSettings> AppSettings { get; set; } = default!;
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        NavigationManager.NavigateTo(ConfigValidator.Validate(AppSettings) ? "/dashboard" : "/settings");
    }
}