@page "/titledb"
@using NsxLibraryManager.Models
<h3>TtitleDb</h3>

<RadzenDataGrid Data="@regionTitles" TItem="RegionTitle" AllowSorting="true" AllowPaging="true" PageSize="100" AllowFiltering="true" FilterMode="FilterMode.SimpleWithMenu" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
    <Columns>
        <RadzenDataGridColumn TItem="RegionTitle" Property="Id" Title="ID"  />
        <RadzenDataGridColumn TItem="RegionTitle" Property="TitleId" Title="Title Id" />
        <RadzenDataGridColumn TItem="RegionTitle" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="RegionTitle" Property="ReleaseDate" Title="Release Date" />
    </Columns>
</RadzenDataGrid>